@model WTF_Site.Models.Comic
@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.Partial("_NavBar");
<h2>@Model.Title @Model.Id</h2>
<img src="~/Content/Images/GALACTA.png"/>
<ul>
    <li>Price: @Model.Price</li>
</ul>

