
@model IEnumerable<WTF_Site.Models.Customer>
@{
    ViewBag.Title = "Index";
}

@Html.Partial("_NavBar")
<h2>Customers</h2>

<table id="customers" class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Membership Type</th>
        </tr>
    </thead>

    @foreach (WTF_Site.Models.Customer customer in Model)
    {
        <tr>
            <td>@Html.ActionLink(customer.FirstName, "Edit", "Customers", new { id = customer.Id }, null)</td>
            <td>@customer.LastName</td>
            <td>@customer.MembershipType.Name</td>
        </tr>
    }
</table>